@model IEnumerable<Msmaldi.Financeiro.Website.BusinessLogic.CDB.PosicaoConsolidadaCDBComCDI<Msmaldi.Financeiro.Website.Entities.CDBComCDI>>
@{ ViewData["Title"] = "CDBs com CDI"; }
<h2>@ViewData["Title"]</h2>
<p><a asp-action="Create">Incluir novo</a></p>
<hr />
<div class="row">
@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                CDB com CDI @item.CDBComCDI.Taxa.ToString("0.00%")
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Data da Aplica&ccedil;&atilde;o:</dt>
                    <dd>@item.CDBComCDI.DataDaAplicacao.ToString("dd/MM/yyyy")</dd>                    
                    <dt>Data do Vencimento:</dt>
                    <dd>@item.CDBComCDI.DataDoVencimento.ToString("dd/MM/yyyy")</dd>
                    <dt>Pre&ccedil;o Unit&aacute;rio:</dt>
                    <dd>@item.CDBComCDI.PrecoUnitario.ToString("C")</dd>
                    <dt>Quantidade:</dt>
                    <dd>@item.CDBComCDI.Quantidade</dd>
                    <dt>Valor Aplicado:</dt>
                    <dd>@item.ValorAplicado.ToString("C")</dd>
                    <dt>Valor Bruto:</dt>
                    <dd>@item.ValorBruto.ToString("C")</dd>
                    <dt>Valor IOF:</dt>
                    <dd>@item.ValorIOF.ToString("C")</dd>
                    <dt>Valor IR:</dt>
                    <dd>@item.ValorIR.ToString("C")</dd>
                    <dt>Valor Liquido:</dt>
                    <dd>@item.ValorLiquido.ToString("C")</dd>
                </dl>
                <div class="text-center">
                    @*<a class="btn btn-default" asp-action="RegistrarResgate" asp-route-id="@item.CDBComCDI.Id">Registrar Resgate</a>
                    <a class="btn btn-default" asp-action="Detalhar" asp-route-id="@item.CDBComCDI.Id">Detalhar</a>*@
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.CDBComCDI.Id">Excluir</a>
                </div>
            </div>
        </div>
    </div>
}
</div>