@model IEnumerable<Msmaldi.Financeiro.Website.BusinessLogic.SwingTrade.PosicaoConsolidadaSwingTrade<SwingTrade>>
@{ ViewData["Title"] = "Swing Trade"; }
<h2>@ViewData["Title"]</h2>
<p><a asp-action="Create">Incluir novo</a></p>
<hr />
<div class="row">
@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Swing Trade
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Ativo:</dt>
                    <dd>@item.SwingTrade.Symbol</dd>
                    <dt>Pre&ccedil;o Unit&aacute;rio:</dt>
                    <dd>@item.SwingTrade.ValorDeAquisicao.ToString("C")</dd>
                    <dt>Quantidade:</dt>
                    <dd>@item.SwingTrade.Quantidade</dd>
                    <dt>Valor Bruto:</dt>
                    <dd>@item.ValorBruto.ToString("C")</dd>
                    @{
                        var color = item.RendimentoBruto > 0.0 ? "color-green" :
                                    item.RendimentoBruto < 0.0 ? "color-red" : "";
                        
                        var lucroOuPrejuizo = item.RendimentoBruto > 0.0 ? "Lucro" : "Prejuízo";
                    }
                    <dt>@lucroOuPrejuizo :</dt>
                    <dd class="@color">@item.RendimentoBruto.ToString("C")</dd>
                </dl>
                <div class="text-center">
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.SwingTrade.Id">Excluir</a>
                </div>
            </div>
        </div>
    </div>
}
</div>